<footer class="bg-[#131518] pt-8 pb-6 -mt-10 text-[#f72f28]">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <h4
                    class="text-3xl md:text-4xl underline-offset-2 font-extrabold underline decoration-wavy leading-loose tracking-wide"
                >
                    Meet Your Daily News Companion!
                </h4>
                <div class="mt-6 lg:mb-0 mb-6">
                    <button
                        class="bg-[#181b1f] text-[#f72f28] hover:scale-105 transition ease-in-out shadow-2xl font-normal h-12 w-12 items-center shadow-[#181b1f] justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button"
                    ><i class="fab fa-instagram-square"></i></button>
                    <button
                    class="bg-[#181b1f] text-[#f72f28] hover:scale-105 transition ease-in-out shadow-2xl font-normal h-12 w-12 items-center shadow-[#181b1f] justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                    type="button"
                ><i class="fab fa-twitter-square"></i></button>
                <button
                class="bg-[#181b1f] text-[#f72f28] hover:scale-105 transition ease-in-out shadow-2xl font-normal h-12 w-12 items-center shadow-[#181b1f] justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
            ><i class="fab fa-facebook-square"></i></button>
                </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6">
                    <div class="w-full lg:w-4/12 px-4 ml-auto">
                        <span
                            class="block uppercase text-sm font-semibold mb-2 underline decoration-wavy underline-offset-4"
                            >Useful Links</span
                        >
                        <ul>
                            <li>
                                <a
                                    class="font-semibold block pb-2 text-sm"
                                    href="https://www.creative-tim.com/presentation?ref=njs-profile"
                                    >About Us</a
                                >
                            </li>
                            <li>
                                <a
                                    class="font-semibold block pb-2 text-sm"
                                    href="https://blog.creative-tim.com?ref=njs-profile"
                                    >Blog</a
                                >
                            </li>
                            <li>
                                <a
                                    class="font-semibold block pb-2 text-sm"
                                    href="https://www.github.com/creativetimofficial?ref=njs-profile"
                                    >Appstore</a
                                >
                            </li>
                            <li>
                                <a
                                    class="font-semibold block pb-2 text-sm"
                                    href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile"
                                    >Free Products</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="w-full lg:w-4/12 px-4">
                        <span
                            class="block uppercase text-sm font-semibold mb-2 underline decoration-wavy underline-offset-4"
                            >Resources</span
                        >
                        <ul>
                            <li>
                                <a
                                    class="font-semibold block pb-2 text-sm"
                                    href="https://creative-tim.com/terms?ref=njs-profile"
                                    >Terms &amp; Conditions</a
                                >
                            </li>
                            <li>
                                <a
                                    class="font-semibold block pb-2 text-sm"
                                    href="https://creative-tim.com/privacy?ref=njs-profile"
                                    >Privacy Policy</a
                                >
                            </li>
                            <li>
                                <a
                                    class="font-semibold block pb-2 text-sm"
                                    href="https://creative-tim.com/contact-us?ref=njs-profile"
                                    >Contact Us</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-[#f72f28]" />
        <div
            class="flex flex-wrap items-center md:justify-between justify-center"
        >
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div class="text-sm font-semibold py-1">
                    Copyright © <span>{new Date().getFullYear()}</span>
                    Devloped By
                    <a href="//github.com/ArnavK-09" class="hover:underline"
                        >ArnavK-09</a
                    >.
                </div>
            </div>
        </div>
    </div>
</footer>
